body {
    background-color: rgb(25, 0, 0);
}

div.a {
    text-align: center;
    font-family: "Optima", sans-serif;
    color: white
}

div.b {
    text-align: right;
    font-family: "Optima", sans-serif;
    color: white
}

div.c {
    text-align: justify;
    font-family: "Optima", sans-serif;
    color: white
}

p {
    font-family: "Optima", sans-serif;
}

.menu{
  background-color:red;
  overflow: hidden;
  color: rgb(200, 200, 200);

}

.menu a{
  float: center;
  color: black;
  padding: 20px 30px;
  text-decoration: "Times New Roman";
  font-size: 20px;
}
